<div class="base-layout">
  <aside>
    <ul class="nav nav-fill flex-lg-column mt-2">
      <li class="nav-item">
        <a class="btn border bg-light shadow-sm w-100 mb-1" routerLink="/task">📝 Tasks</a>
      </li>
      <li class="nav-item"><a class="btn border bg-light shadow-sm w-100 mb-1" routerLink="/employee">👤 Employees</a></li>
      <li class="nav-item"><a class="btn border bg-light shadow-sm w-100 mb-1" routerLink="/priority">🔖 Priorities</a></li>
    </ul>
  </aside>
  <main>
    <ng-content></ng-content>
  </main>
</div>

